.blog-entry__title {
  font-size: 1.5em;
  font-weight: 300;
}

.blog-entry__date {
  font-size: 0.85em;
  color: $text-muted;
}

.blog-entry__categories {
  margin-top: 8px;
}

.blog-entry + .blog-entry {
  margin-top: 64px;
}
