body {
  padding-top: 58px;
}

.app-logo {
  font-family: $font-family-let;
  font-size: 32px;
  line-height: 1em;
}

.app-navbar {
  background: #fff;
}

@include media-breakpoint-up('lg') {
  body {
    padding-top: 106px;
  }

  .app-navbar {
    padding-top: 32px;
    padding-bottom: 32px;

    .nav-item.active {
      border-bottom: $primary solid 2px;
    }

    .nav-item + .nav-item {
      margin-left: 16px;
    }
  }
}
