.card.blog-entry
  .card-body
    .blog-entry__author-image{ style: "background-image: url('#{blog_entry_author_image(entry)}')" }

    .blog-entry__date
      = entry.published.strftime("%d/%m/%Y")

    %a.blog-entry__title{ href: entry.url, target: :_blank, rel: 'noopener noreferrer' }
      = entry.title
