.recent-articles
  - @blog_entries[0..1].each do |entry|
    = render locals: { entry: entry }, partial: 'blog_entry'

.all-articles
  - @blog_entries[2..-1].each_slice(2) do |entries|
    .row
      - entries.each do |entry|
        .col-lg
          = render locals: { entry: entry }, partial: 'blog_entry'
