%ul.team-list
  - team.each do |member|
    %li.member
      = render partial: 'member_image', locals: { member: member }

      .member-name
        = link_to member['name'].split(' ').first, member_path(name: member['name'])
